* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Helvetica;
}

::-webkit-scrollbar {
    display: none;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

:root {
    --blue-clr: #5968F4;
    --black-clr: #000;
    --white-clr: #fff;
    --gray-clr: #99999A;
    --lightBlue-clr: #5863E3;
    --dark-blue-icon: #344188;
    --fonts18: 18px;
    --fonts14: 14;
}

h4 {
    color: var(--lightBlue-clr);
    font-size: var(--fonts18);
    font-weight: 700;
    margin-bottom: 8px;
}

h2 {
    color: var(--black-clr);
    font-size: 50px;
    font-weight: 400;
    width: 372px;
    margin-bottom: 58px;
}

.another-h2 {
    width: 566px;
}

.first-section {
    padding: 58px 0;
    margin: 0 auto;
    width: 75%;
}

.info-container {
    display: flex;
    flex-direction: column;
    height: 297px;
    justify-content: space-between;
}

textarea {
    width: 756px;
    height: 298px;
    border: 2px #d4d3d34d solid;
    background-color: #eadcdc33;
    padding: 24px 22px;
    resize: none;
}

::placeholder {
    font-size: var(--fonts14);
    color: #99999A;
    font-weight: 700;
}

input {
    width: 370px;
    height: 50px;
    padding-left: 20px;
    border: 2px #d4d3d34d solid;
    background-color: #eadcdc33;
}

button {
    background-color: var(--blue-clr);
    color: #FBFBFF;
    font-size: var(--fonts14);
    width: 370px;
    height: 60px;
    border: none;
    transition: 0.3s;
}

button:hover {
    font-size: var(--fonts18);
    transition: 0.3s;
    font-weight: bold;
    background-color: var(--dark-blue-icon);
}

.card-container {
    margin-top: 52px;
    text-align: center;
    margin-bottom: 74px;
}

.card-container .icon:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.card-container .icon:hover i {
    color: var(--white-clr);
    transition: 0.3s;
}

.card-container i {
    color: var(--dark-blue-icon);
    font-size: 40px;
    padding: 12px;
    transition: 0.3s;
}

.card-container .icon {
    width: 68px;
    height: 68px;
    margin: auto;
    border-radius: 50%;
    background-color: var(--blue-clr);
    transition: 0.3s;
}

.card-container h3 {
    color: #4E4D54;
    font-size: 20px;
    margin-top: 16px;
}

.card-container .card-item p {
    margin-top: 8px;
    color: var(--gray-clr);
    font-size: 16px;
    font-weight: 700;
}

.image {
    width: 374px;
    height: 374px;
    overflow: hidden;
    margin: 8px;
}

.image img {
    width: 100%;
    transition: 0.5s;
}

.image:hover img {
    transform: scale(1.5);
    transition: 0.5s;
}

footer {
    margin-top: 40px;
    background-color: var(--black-clr);
    padding: 64px 176px 108px 144px;
    width: 100%;
}

.hotels h3 {
    color: var(--white-clr);
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 24px;
}

.hotels p {
    color: var(--gray-clr);
    font-weight: 700;
    font-size: var(--fonts18);
    width: 296px;
    margin-bottom: 28px;
}

.socials {
    width: 146px;
    align-items: center;
}

.socials a img:hover {
    transition: 0.5s;
    transform: rotate(360deg);
    scale: 1.2;
}

.socials a img {
    transition: 0.5s;
}

input:focus,
textarea:focus {
    outline: none;
}

h5 {
    color: var(--white-clr);
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 32px;
}

.links-container {
    width: 630px;
}

.links-container .links ul li a {
    font-size: var(--fonts18);
    color: var(--lightBlue-clr);
}

.links-container .links ul li {
    margin-top: 10px;
}

.links-container .contacts ul li {
    color: var(--white-clr);
    font-size: var(--fonts18);
    margin-bottom: 20px;
}

.links-container .contacts ul li i {
    color: var(--dark-blue-icon);
}

.links-container .link li a:hover {
    color: var(--white-clr);
}


@media only screen and (max-width: 1000px) {

    .first-section {
        width: 90%;
    }

    textarea {
        width: 60%;
    }

    .image {
        width: 30%;
        height: 30%;

    }

    .another-h2 {
        width: 74%;
    }

    h2 {
        width: 50%;
    }

    footer {
        padding: 40px 5% 12% 5%;
    }
}

@media only screen and (max-width: 740px) {
    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 16px;
    }

    :root {

        --fonts18: 14px;
        --fonts14: 12px
    }

    .flex {
        flex-wrap: wrap;
    }

    textarea {
        width: 90%;
        margin: 10px auto;
    }

    .links-container {
        width: 100%;
    }

    h5 {
        font-size: 18px;
        margin: 34px 0 32px 0;
    }

    .flex-around {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    /* .image {
        width: 90%;
        height: 90%;
    } */

    .image {
        width: 280px;
        height: 280px;
        margin: 8px;
        flex-wrap: wrap;
    }

    .info-container {
        width: 100%;
    }

    input,
    button {
        width: 90%;
        margin: 0 auto;
    }

}